/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display:400,400i,700,700i'); */

body{
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
  height:100%;
  max-width: 1800px;
  margin: 0;
  overflow-x: hidden;
}


main > section{
  background-color: #ffffff;
  width:100%;
  height: auto;
}

a.button{
  width: 180px;
  height: 45px;
  border: 2px solid #2b3b62;
  position: absolute;
  top: 80%;
  bottom: 10%;
  left: 5%;
  text-align: center;
  text-decoration: none;
  font-family: 'open_sansregular', sans-serif;
  color: #2b3b62;
  padding-top: 5px;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 18px;
  transition: .5s;
}

h1{
  font-size: 24px;
}

#about-grid{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#headshot{
  align-self: flex-start;
}

#headshot{
 max-width: 250px;
 /* width: 250px; */
 width: 100%;
   margin: 0;

}

.headshot-container{
  justify-self: center;
  align-self: center;

}

#map{
  width: 100%;
  height: 400px;
}


#headshot{
 min-width: 250px;
   margin: 0;

}

.headshot-container{
  justify-self: center;
  align-self: center;

}

@media screen and (min-width: 600px){
  #therapy-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #therapy-specialties, #therapy-services{
    width: 50%;
  }
}

@media screen and (min-width: 860px){
  #therapy-specialties, #therapy-services, #therapy-finances{
    width: 33%;
  }
}

@media screen and (min-width: 1048px){
  #therapy-grid, #contact-content{
    width: 75%;
  }
}

@media screen and (min-width: 700px){
  #about-grid{
    flex-direction: row;
  }

  #headshot{
    margin-top: 58px;
    max-width: 400px;

  }

  .headshot-container{
    align-self: flex-start;
  }

  #about-content{
    width: 65%;
    margin-left: 20px;
  }

  #therapy-intro{
    width: 100%;
  }
}

a.button:hover{
  background-color: ;
  box-shadow: inset 180px 0 rgba(43, 59, 98, .8);
  color: #fff;
  border-color: #fff;
}

/*Universal Elements*/
*::selection{
  color: #ffffff;;
  background-color: #2b3b62;
}

*::-moz-selection {
  color: #ffffff;;
  background-color: #2b3b62;
}

p, ul{
  font-family: 'open_sanslight', sans-serif;
  font-size: 18px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin-left: 11px;

}

li{
  position: relative;
  margin-bottom: 5px;
}


/*Font*/
/* h1, h2{ */
h1{
  font-family: 'playfair_displayregular', serif;
  letter-spacing: 0.75px;
  /* padding: 15px 0 */
}

.header-wrapper{
  padding: 0;
}

h1.section-header{
  color: white;
  font-weight:300;
}

div.header-wrapper{
  background: #2b3b62;
  width: 100%;
  height:auto;
  margin: 0 0 30px 0;
}

h2{
  margin: 0 0 5px 0;
  font-family: 'open_sanslight';
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 20px;
  color: #ffffff;
  /* background-color: #2b3b62; */
  /* background-color: rgba(43, 59, 98, .8); */
  /* background-color: rgba(120, 120, 120, .9);*/
  color: #2b3b62;
}

h3{
  color: #ffffff;
  font-family: 'open_sanslight';
  text-transform: uppercase;
  margin-bottom: 5px;
}

p, ul{
  color: #373737;
}

.button{
  vertical-align: middle;
}




/*Grids*/
 #about-grid, #therapy-grid, #contact-grid{
  /* display: grid; */
  padding: 0 1em;
}

#about h1, #therapy h1, #contact h1{
  padding: 10px 0 10px 0.5em;
}



/*About*/



span.location{
  font-style: italic;
  color: #787878;
}
 span.role{
   font-weight: 400;
 }


#about, #therapy, #contact{
padding-bottom: 25px;
}

h1{
  margin-top: 0;
}

#therapy-intro{
  margin-top: 0;
  line-height: 1.5em;
   /* margin: 0 .25em 0; */
}


#therapy-services >  h2, #contact-content > h2{
  margin-top: 0;
}



address{
  font-style: normal;
  font-family: 'open_sanslight', sans-serif;
}

.contact-info a{
color: #ffffff;
font-style: normal;
font-family: 'open_sanslight', sans-serif;
}

#contact-content > div.content{
  margin-bottom: 50px;
}


ul.content-list > li{
  margin-bottom: 10px;
}



.menu li.active{
  border-bottom: solid 1px #2b3b62;
  font-weight: bold;
  color: #2b3b62;
}

div.hero-image-container{
  height:80%;
}




.icon{
  width: 25px;
  margin-right: 10px;
}



div.contact-info h3{
  margin: 0;
  padding: 0;
}


/*Therapy*/
p #therapy-intro{
  margin: 0;
}



#therapy-intro::first-letter{
  font-size: 6em;
  font-weight: bold;
  float: left;
  font-family: 'playfair_displaybold';
  /* color: #2b3b62; */
 /* margin: 0 .2em 0 0 ; */
 /* margin: 7px 15px 0 0; */
    font-size: 5em;
    float: left;
    line-height: .75em;
    display: inline-block;
    margin: 0 .2em 0;
}


#therapy-intro::-webkit-first-letter{
  font-size: 6em;
  font-weight: bold;
  float: left;
  font-family: 'playfair_displayregular';
  color: #2b3b62;
 /* margin: 0 .2em 0 0 ; */
 margin: 7px 15px 0 0;
}


div.contact-info{
  background-color: #abb6b9;
  color: #ffffff;;
  width:100%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  z-index:2;
  border-radius: 0 0 5px 5px;
}



.email, .address{
  margin-bottom: 10px;
}


#about-header{
  margin-top: 30px;
}

h1.hero-header span{
  color: #2b3b62;
  font-style: italic;
}

.hero-header{
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 15%;
  margin-left: 5%;
  width: 80%;

  /* padding-left: 0.5em; */
  -webkit-animation: fadeInLeft 2s ease-in-out forwards;
          animation: fadeInLeft 2s ease-in-out forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;

}



@keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -30%;
  }

  80%{
    /* opacity: 0.5; */
  }

  100% {
    opacity: 1;
    left: 0%;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -100%;
  }

  85% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    left: 0%;
  }
}





ul.content-list li::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #2b3b62;
  top: 10px;
  left: -11px;
}

ul.content-list li:before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #2b3b62;
  top: 10px;
  left: -11px;
}


#home{
  width: 100%;
  height: calc(100vh - 75px);
  height: -moz-calc(100% - 75px);
  position: relative;
  background-image: url("images/stacked-books-small.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding: 0;
  margin-bottom: 50px;
}



/*Header / Footer*/
header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  z-index:5;
  height: 70px;
  position: relative;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    background-color: #fff;
}



/*Header Logo*/
a.header-logo{
  text-decoration: none!important;
  color: rgb(43, 59, 98);
  margin-left: 5%;
  align-self: center;
}

div.main-logo{
  font-weight:bold;
  font-size: 16px;
  font-family: 'playfair_displayregular';
}

div.sub-logo{
  font-family: 'open_sanslight';
  letter-spacing: 0.5px;
  font-size: 14px;
}

.button_container {
  position: absolute;
  top: 25%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container.active{
  z-index: 101;
  position: fixed;
  top: 3%;
}
div.button_container span {
  background: #2b3b62;
  border: none;
  height: 2.5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
  z-index: 200;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2b3b62;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 100;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  font-size: 50px;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: inline-block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 0%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: 2px;
  background: #FFFFFF;
  -webkit-transition: .35s;
  transition: .35s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 100px;
  font-weight: 400;
  text-align: center;
}

nav ul{
  position: static;
  position: absolute;
}

/*Footer*/
footer{
  width: 100%;
  height: 70px;
  background-color: #2b3b62;
}

footer > p{
  font-size: 14px;
  color: #ffffff;;
  text-align: center;
  padding-top: 25px;
  margin: 0;
}

@media screen and (min-width: 400px){
  div.main-logo{
    font-size:20px;
  }

  div.sub-logo{
    font-size: 18px;
  }

  .hero-header{
    font-size: 40px;
    width: 90%;
}


  .email, .address{
    margin-bottom: 0;
  }
}

@media screen and (min-width:500px){
  h1{
      font-size: 30px;
  }

  h2{
    font-size: 24px;
  }

  .hero-header{
    width: 70%;
    font-size: 45px;
  }

  .header-wrapper{
    margin-bottom: 45px;
  }

  /* #contact-content{
    padding-left: 1em;
  } */

  #therapy-intro{
    font-size: 22px;
    margin-bottom: 50px;
  }

  #contact{
    padding-bottom: 3em;
    background-color: #ffffff;;
  }
}

@media screen and (min-width: 600px){
  h1{
    font-size: 30px;
  }

  .hero-header{
    font-size: 60px;
    width: 70%
  }
}

@media screen and (min-width: 700px){
    h2{
      margin: 0;
    }

    h1{
      /* margin: 0 0 0 50px; */

    }

    #about h1, #therapy h1, #contact h1{
      padding: 20px 0 20px 0.5em;
    }

}

@media screen and (min-width:800px){
  /*Universal*/
  main{
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  #about h1, #therapy h1, #contact h1{
    padding: 20px 0 20px 1em;
  }


  #about-grid, #therapy-grid, #contact-grid, #contact-content{
   padding: 0;
 }

  #hamburger{
    display: none;
  }

  .overlay{
    background-color: #fff;
  }

  h1{
  font-size: 36px;
  }

  #about-grid, #therapy-grid, #contact-content{
      margin: 0 50px;
  }

  /*Home*/
  .hero-header{
    padding: 0;
    width: 60%;
    margin-left: 5%;
    top: 18%;
  }

  .button{
    /* margin-left: 10%;; */
  }

  .overlay{
    visibility: visible;
    opacity: 1;
    overflow: visible;
    z-index: 2000;
    width: 60%;
    position:relative;
    margin-right: 5%;
  }

  nav.overlay-menu{
    position: relative;
  }

  .overlay ul li {
    opacity: 1;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: none;
  }

  .overlay ul li a{
    color: #787878;
  }

  .overlay ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }

  nav{
    width: 100%;
  }

  header{
    display: flex;
    height: 75px;
  }

  .header-logo{
    align-self: center;
    margin-left: 5%;
    width: 35%;
  }

  .overlay ul li a:after {
    content: '';
    /* position: absolute; */
    /* bottom: 0; */
    /* left: -100%; */
    /* width: 0%; */
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 1.5px;
    background: #2b3b62;
    /* -webkit-transition: .35s;
    transition: .35s; */
  }
}

@media screen and (min-width:900px){
  #home{
    background-image: url("images/stacked-books-medium.png");
  }
}

@media screen and (min-width: 1000px){
  .hero-header{
    font-size: 65px;
  }

  a.button{
    top: 0%;
    top: 85%;
  }

  .hero-header{
    font-size: 55px;
  }
}
 .contact-info{
    height:  auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 1em 0;
    justify-content: center;
  }

  .contact-info > div{
    width: 100%;
    margin-left: 1em;
  }

  .email, .address{
    margin-bottom: 1em;
  }

  div.contact-info a, div.contact-info address{
    margin: 5px 0 0 35px;
  }

  div.contact-info-content > div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }


@media screen and (min-width: 530px){
    div.contact-info{
      flex-direction: row;
      height: 125px;
    }

  div.contact-info-2{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}

@keyframes fadeUp{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    bottom: -10%;
  }
}

@media screen and (min-width: 800px){
  #contact-grid{
    position: relative;
  }

  div.contact-info{
    position: absolute;
    z-index: 2;
    width: 70%;
    height: 125px;
    bottom: -20%;
    right: 7%;
    max-width: 600px;
    opacity: 0;
    border-radius: 5px 5px 5px 5px;
  }

  .contact-scrolled{
    animation: fadeUp 0.5s cubic-bezier(.17,.67,.63,1.17) 0.5s 1 forwards;
  }

  #contact{
    padding-bottom: 10em;
  }

  #map{
    z-index: 1;
  }
}




@media screen and (min-width: 1200px){
  #home{
    background-image: url("images/stacked-books-large.png");
  }

  a.button{
    top: 70%;
  }

  .hero-header{
    width: 50%;
  }
}

@media screen and (min-width: 1400px){
  .hero-header{
    font-size: 70px;
    top: 15%;
    width: 50%;
  }

  a.button{
    top: 70%;
  }
}

@-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }


header.fixed{
  position: fixed;
  transform: translate(0, -200px);
  opacity: 0;
}

header.in-view{
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}
