@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display:400,400i,700,700i');

body{
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
  height:100%;
  max-width: 1800px;
  margin: 0;
  overflow-x: hidden;
}

/* html{height: 100%;} */

/* main{
  padding:  0 0.5em;
} */

/* main{
  padding: 0.5em;
} */

main > section{
  background-color: #ffffff;
  width:100%;
  height: auto;
}

a.button{
  width: 180px;
  height: 45px;
  border: 2px solid #2b3b62;
  position: absolute;
  top: 80%;
  bottom: 10%;
  left: 5%;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #2b3b62;
  padding-top: 5px;
  font-size: 18px;
  text-transform: uppercase;
  /* font-weight: bold; */
  display: inline-block;
  padding-top: 18px;
  /* background-color: rgba(171,182,185, 0.5); */
  transition: .5s;
              /* border-color 0.5s linear; */
}

h1{
  font-size: 24px;
}

a.button:hover{
  background-color: ;
  box-shadow: inset 180px 0 rgba(43, 59, 98, .8);
  color: #fff;
  border-color: #fff;
}

/*Universal Elements*/
*::selection{
  color: #ffffff;;
  background-color: #2b3b62;
}

*::-moz-selection {
  color: #ffffff;;
  background-color: #2b3b62;
}

p, ul{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin-left: 11px;

}

li{
  position: relative;
  margin-bottom: 5px;
}



/*Font*/
/* h1, h2{ */
h1{
  font-family: 'Playfair Display', serif;
  /* font-weight: bold; */
  letter-spacing: 0.75px;

  /* display: inline-block; */

  padding: 15px 0

}

h1.section-header{

  color: white;
  font-weight:300;
}

div.header-wrapper{
  background-color: rgba(43, 59, 98, .8);
  /* padding: 2.5px 5px; */
  width: 100%;
  height:auto;
    margin: 0 0 50px 0;
}

h2{
  /* color: #2b3b62; */
  font-weight: normal;
  margin-bottom: 5px;
  /*testing*/
  /*experimenting with fonts*/
  font-family: 'open sans';
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1.25px;
  font-size: 20px;
  color: #ffffff;
  /* background-color: #2b3b62; */
  /* background-color: rgba(43, 59, 98, .8); */
  /* background-color: rgba(120, 120, 120, .9);
  padding: 2.5px 5px;
  display: inline-block;; */
  color: #2b3b62;
}

h3{
  color: #ffffff;
  font-family: 'open sans';
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 5px;
}

p, ul{
  color: #373737;
}



.button{
  vertical-align: middle;
}



/*Grids*/

#about-grid, #therapy-grid, #contact-grid{
  display: grid;
  padding: 0.5em;
}

#about h1, #therapy h1, #contact h1{
  padding: 10px;
}








/*About*/

#headshot{
  justify-self: center;
  width: 80%;
  max-width: 300px;
  display: block;
}

span.location{
  font-style: italic;
  color: #787878;
}


/*About sub-grids*/
#about-content > *{
  display: grid;
  grid-template-columns: minmax(min-content, flex), auto;
  grid-template-rows: auto auto;
}

#about-about h2{
  grid-row: 1/2;
  grid-column: 1/2;
}

#about-about div{
  grid-row: 2/3;
  grid-column: 1/3;
}

#about-facts h2{
  grid-row: 1/2;
  grid-column: 1/2;
}

#about-facts div{
  grid-row: 2/3;
  grid-column: 1/3;
}

#about-qualifications h2{
  grid-row: 1/2;
  grid-column: 1/2;
}

#about-qualifications div{
  grid-row: 2/3;
  grid-column: 1/3;
}




#about, #therapy, #contact{
padding-bottom: 25px;
}

h1{
  margin-top: 0;
}

#therapy-intro{
  margin-top: 0;
}

#therapy-services >  h2, #contact-content > h2{
  margin-top: 0;
}



address{
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.contact-info a{
color: #ffffff;
font-style: normal;
font-family: 'open sans', sans-serif;
font-weight: lighter;
}


ul.content-list > li{
  margin-bottom: 10px;
}



.menu li.active{
  border-bottom: solid 1px #2b3b62;
  font-weight: bold;
  color: #2b3b62;
}

div.hero-image-container{
  height:80%;
}


/**/
#contact-grid{
  grid-row-gap: 5px;
}

#contact-content{
  /* grid-area: contact-content; */
}




#contact-content{
  grid-column: 1/2;
  grid-row: 1/2;
}

#map{
  grid-column: 1/3;
  grid-row:2/3;
  z-index: 0;
  height: 100%;
}

.contact-info{
  grid-column: 1/3;
  grid-row: 3/4;
  z-index: 1;


}



#map{
  /* grid-area: map; */
  height: 100%;
  width: 100%;
}


.icon{
  width: 25px;
  margin-right: 10px;
}

.contact-info div{
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
}

#pin, #phone, #mail{
  grid-column: 1/2;
  grid-row: 1/2;
}

div.address h3, div.telephone h3, div.email h3{
  grid-column: 2/3;
  grid-row: 1/2;
}

div.address address, div.contact-info a{
  grid-column: 1/3;
  grid-row: 2/3;
}

.contact-info{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.icon{
  align-self: center;
  /* justify-self: flex-start; */
}

div.contact-info h3{
  margin: 0;
  padding: 0;
}




/*Therapy*/
p #therapy-intro{
  margin: 0;
}

#therapy-intro::first-letter{
  font-size: 5em;
  font-weight: bold;
  float: left;
  font-family: 'Playfair Display';
  color: #2b3b62;
 /* margin: 0 .2em 0 0 ; */
 margin: 7px 0.1em 0 0;
}

#therapy-intro{
  grid-area: therapy-intro;
}

#therapy-services{
  grid-area: services;
}

#therapy-specialties{
  grid-area: specialties
}

#therapy-finances{
  grid-area: finances;
}

#therapy-grid{
  grid-template-areas:
  "therapy-intro"
  "services"
  "specialties"
  "finances";
}


/*Therapy Sub-grids*/
/* #therapy-grid > div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
} */

#therapy-services h2{
  grid-row: 1/2;
  grid-column: 1/2;
  /* grid-area: h-services; */
}

#therapy-services div{
  grid-row: 2/3;
  grid-column: 1/3;
  /* grid-area: c-services; */
}

#therapy-specialties h2{
  grid-row: 1/2;
  grid-column: 1/2;
}

#therapy-specialties div{
  grid-row: 2/3;
  grid-column: 1/3;
}

#therapy-finances h2{
  grid-row: 1/2;
  grid-column: 1/2;
  /* grid-area: h-finances; */
}

#therapy-finances div {
  grid-row: 2/3;
  grid-column: 1/3;
  /* grid-area: c-finances; */
}



#about-header{
  margin-top: 30px;
}

h1.hero-header span{
  color: #2b3b62;
  font-style: italic;
}

.hero-header{
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 15%;
  /* left: -20%; */
  left: -100%;
  margin: 0;
  width: 80%;
  padding-left: 0.5em;
  -webkit-animation: fadeInLeft 1s ease forwards;
          animation: fadeInLeft 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;

}



@keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -100%;
  }

  85% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    left: 0%;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    right: 20%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}


/*testing*/
/* div.content{
  border-top: 1px solid #787878;
} */


ul.content-list li::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #2b3b62;
  top: 10px;
  left: -11px;
}


#home{
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("images/stacked-books-small.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding: 0;
  margin-bottom: 50px;
}


/*Header / Footer*/
header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  z-index:5;
  height: 70px;
  position: relative;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.5);
}

header.header-scrolled{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}


/*Header Logo*/
a.header-logo{
  text-decoration: none!important;
  color: rgb(43, 59, 98);
  margin-left: 20px;
  align-self: center;


}

div.main-logo{
  font-weight:bold;
  font-size: 16px;
  font-family: 'Playfair Display';
}

div.sub-logo{
  font-weight: 300;
  font-family: 'open sans';
  letter-spacing: 0.5px;
  font-size: 14px;
}

.button_container {
  position: absolute;
  top: 25%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container.active{
  z-index: 101;
  position: fixed;
  top: 3%;
}
div.button_container span {
  background: #2b3b62;
  border: none;
  height: 2.5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
  z-index: 200;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2b3b62;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 100;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  font-size: 50px;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 90%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 100px;
  font-weight: 400;
  text-align: center;
}


nav ul{
  position: static;
  position: absolute;
}










/*Footer*/
footer{
  width: 100%;
  height: 70px;
  background-color: #2b3b62;
}

footer > p{
  font-size: 14px;
  color: #ffffff;;
  text-align: center;
  padding-top: 25px;
  margin: 0;
}





@media screen and (min-width: 400px){
  div.main-logo{
    font-size:20px;
  }

  div.sub-logo{
    font-size: 18px;
  }

  .hero-header{
    font-size: 40px;
    width: 90%;
    /* left: 5%; */

}

@media screen and (min-width:500px){
  .hero-header{
    width: 70%;
  }
}


@media screen and (min-width:500px){

h1{
    font-size: 30px;
}

h2{
  font-size: 24px;
}

  }

  #therapy-intro{
    font-size: 22px;
    margin-bottom: 50px;
  }



  #contact{
    padding-bottom: 3em;
    background-color: #ffffff;;
  }
}
@media screen and (min-width:900px){
  #home{
    background-image: url("images/stacked-books-medium.png");
  }

}


@media screen and (min-width: 700px){
  @supports (display: grid){

    #hamburger{
      display: none;
    }

    #headshot{
      width: 80%;
      min-width: 250px;
      margin-left: 0;
    }

  #about-grid, #therapy-grid, #contact-grid{
    padding: 0;
  }

    h2{
      margin: 0;
    }

    h1{
      margin: 0 0 0 50px;
    }


    /*About*/
    #about-header{
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    #headshot{
      grid-row: 2 / 3;
      align-items: flex-start;
      align-self: flex-start;
      margin-top: 60px;
      max-width: 400px;
    }

    #about-content{
      grid-row: 2 / 4;
      grid-column: 2 / 4;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      grid-row-gap: 1em;
    }

    #therapy-grid{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
      "therapy-intro therapy-intro therapy-intro"
      "services services ."
      "specialties specialties . "
      "finances finances finances";
    }





    .icon{
      align-self: center;
      justify-self: center;
    }

    .contact-info > div{
      align-self: center;
    }
}


@media screen and (min-width: 600px){
  h1{
  font-size: 30px;
  }
}

@media screen and (min-width:800px){

  /*Universal*/
  main{
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0;
    /*test*/
    /* box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1); */
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }



  h1{
  font-size: 36px;
  }

  #about-grid, #therapy-grid{
      margin: 0 50px;
      grid-row-gap: 15px;
  }

  /*Home*/


  .hero-header{
    font-size: 45px;
    padding: 0;
    width: 60%;
    margin-left: 10%;
    top: 18%;
  }

  .button{
    margin-left: 5%;;
  }


  /*About*/
  #about-grid{
    grid-template-rows:   auto auto;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
    /* padding: 0 4em; */
  }



  /*Contact*/
  #contact-grid{
    grid-template-columns: 3fr minmax(300px, 400px);
    grid-template-rows:  auto auto auto;
    /* grid-template-areas:
    "contact-content contact-content"
    "map map"
    "contact-info contact-info"; */
  }

  #contact-content{
    margin-left: 50px;
  }

#therapy-grid{
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  grid-template-areas:
  "therapy-intro therapy-intro"
  "services specialties"
  "finances finances";
}
}

  .overlay{
    visibility: visible;
    opacity: 1;
    overflow: visible;
    z-index: 2000;
    /* position: relative; */
    width: 60%;
    position:relative;

  }

  nav.overlay-menu{
    position: relative;
  }

.overlay ul li {
    opacity: 1;
    font-size: 20px;
    margin: 0;
    padding: 0;
    /* align-self:center; */
    position: none;
  }

  .overlay ul li a{
color: #787878;

      /* position: none; */
    }

  .overlay ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }

  nav{
    width: 100%;

  }

header{
  display: flex;
  height: 75px;

}

.header-logo{
  align-self: center;
  margin-left: 20px;
  width: 35%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background: #2b3b62;
  -webkit-transition: .35s;
  transition: .35s;
}

}

@media screen and (min-width: 850px){
  .hero-header{
    font-size: 45px;
  }
}

@media screen and (min-width: 900px){
  /*Contact*/
  .contact-info{
    /* grid-template-columns: repeat (6, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
    "mail-icon email email phone-icon phone phone"
    ". pin-icon address address . ."; */
  }
}








@media screen and (min-width: 1000px){
  #therapy-grid{
    grid-template-columns: auto auto auto 25%;
    grid-template-rows: auto auto;
    /* grid-column-gap: 5rem; */
    grid-template-areas:
    "therapy-intro therapy-intro therapy-intro therapy-intro"
    "services specialties finances finances";
  }
}

@media screen and (min-width: 1200px){
  #therapy-grid{
    /* grid-column-gap: 5rem; */
    grid-template-areas:
    "therapy-intro therapy-intro therapy-intro ."
    "services specialties finances .";
  }

  #home{
      background-image: url("images/stacked-books-large.png");
  }
}

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }



@media screen and (min-width: 600px){
  .hero-header{font-size: 60px;
width: 70%}
}










/* .telephone, .address, .email{

display: flex;
} */


/* div.address{
  grid-column: 1/2;
  grid-row: 1/3;
}

div.telephone{
  grid-column: 2/3;
  grid-row: 1/2;
}

div.email{
  grid-column: 2/3;
  grid-row: 2/3;
} */



#contact-grid{
  grid-template-columns: 100%;
  grid-template-rows: auto 400px auto;
}

div.contact-info{
  background-color: #abb6b9;
  color: #ffffff;;
  width:100%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  z-index:2;
}

div.contact-info{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  padding: 15px 0;
}

@media screen and (min-width: 400px){
  div.contact-info{
    /* grid-template-columns: repeat(2, minmax(auto, 70px));
    grid-template-rows: auto auto; */
    justify-content: space-evenly;
  }

  .address{
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .telephone{
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .email{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .email, .address{
    margin-bottom: 0;
  }
}


@media screen and (min-width: 600px){
  #contact-grid{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(4, 100px) 50px 50px;
  }

  #contact-content{
    grid-column: 1/6;
    grid-row:1/2;
  }
  #map{
    grid-column: 1/6;
    grid-row:2/6;
  }

  .contact-info{
    grid-column: 2/5;
    grid-row: 5/8;
  }

  .address{
    align-self: flex-start;
    justify-self: flex-start;
  }
  }




@media screen and (min-width: 1000px){
  .hero-header{
    font-size: 60px;
    top: 10%;
  }

  a.button{
    top: 0%;
    top: 85%;
  }

  .contact-info{
      height:  auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }

  #contact-grid{
    grid-template-columns: repeat(8, 1fr) 20px 1fr;
    grid-template-rows: auto repeat(7, 50px) 75px;
    /* grid-template-areas:
    "contact-content contact-content contact-content ."
    "map map map contact-info"; */
}

  #contact-content{
    grid-column: 1/10;
    grid-row: 1/2;
  }

  #map{
    grid-column: 1/11;
    grid-row:2/9;
    z-index: 0;
    height: 100%;
    width: 100%;
        grid-row-gap: 0;
  }

  .contact-info{
    grid-column: 5/10;
    grid-row: 7/10;
    z-index: 1;

  }
  .contact-info > div{
    align-self: flex-start;
    justify-self: flex-start;
  }

  .contact-info{
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }

}

.email, .address{
  margin-bottom: 10px;
}




/*mobile screens*/
/* div.contact-info{
  justify-content: space-around;
  grid-template-columns: auto;
  grid-template-rows: auto 400px auto;
}
#contact-content{
  grid-row: 1/2;
}
#map{
  grid-row: 2/3;
}

div.contact-info{
  grid-row: 3/4;

}

.contact-info div{
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px auto;
}

.contact-info{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.address{
  grid-column: 1/2;
  grid-row: 1/2;
}

.telephone{
  grid-column: 1/2;
  grid-row:2/3;
}



@media screen and (min-width: 1px){
  .contact-info div{
    grid-template-columns: 30px auto auto;
    grid-template-rows: auto;
  }



  .icon{
    grid-column: 1/2;
      grid-row: 1/2;
  }
div.contact-info h3{
  grid-column: 2/3;
    grid-row: 1/2;
}

div.contact-info address, div.contact-info a{
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: flex-start;
}

.contact-info{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

}

.address{
  grid-column: 1/2;
  grid-row: 1/2;
}

.telephone{
  grid-column: 1/2;
  grid-row: 2/3;

}

.email{
  grid-column: 1/2;
  grid-row: 3/4;
}
}

@media screen and (min-width: 500px){
  .contact-info div{
    grid-template-columns: 30px auto;
    grid-template-rows: auto;
}
    .icon{
      grid-column: 1/2;
        grid-row: 1/2;
        justify-self: flex-start;
        align-self: flex-start;    }


  div.contact-info h3{
    grid-column: 2/3;
      grid-row: 1/2;
  }

  div.contact-info address, div.contact-info a{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: flex-start;
  }




  } */


/*mobile view*/

.contact-info{
  grid-row-gap: 10px;
}


@media screen and (min-width: 500px){
  .hero-header{
    font-size: 45px;
  }
}

@media screen and (min-width: 1000px){
  .hero-header{
    font-size: 55px;
  }
}

@media screen and (min-width: 1200px){
  .hero-header{
    width: 50%;
  }
}

@media screen and (min-width: 1400px){
  .hero-header{
    font-size: 70px;
    top: 15%;
    width: 50%;
  }

  a.button{
    top: 70%;
  }
}

@media screen and (min-width: 1200px){
  a.button{
    top: 70%;
}}
